.recipe-list{
    border-right: solid black 3px;
    min-width: 50%;
    margin-top: 0.8rem;
}

.recipe-list__add-recipe-btn-container{

    display: flex;
    justify-content: center;
}

.recipe-list__index{
    max-height: 684px;
    overflow-y: scroll;

    
}

/* Custom Scroll Bar  */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

